<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>MyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servelet22</display-name>
    <servlet-name>servelet22</servlet-name>
    <servlet-class>newservelet.servelet22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servelet22</servlet-name>
    <url-pattern>/servelet22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servelet</display-name>
    <servlet-name>servelet</servlet-name>
    <servlet-class>java.servelet.servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servelet</servlet-name>
    <url-pattern>/servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>java</display-name>
    <servlet-name>java</servlet-name>
    <servlet-class>javax.java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>java</servlet-name>
    <url-pattern>/java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>page</display-name>
    <servlet-name>page</servlet-name>
    <servlet-class>login1.page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>loginpage.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginpage2</display-name>
    <servlet-name>loginpage2</servlet-name>
    <servlet-class>servlet2.loginpage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage2</servlet-name>
    <url-pattern>/loginpage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>java.servelet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logi</display-name>
    <servlet-name>Logi</servlet-name>
    <servlet-class>java.servelet.Logi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logi</servlet-name>
    <url-pattern>/Logi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>java.servelet.Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ss</display-name>
    <servlet-name>ss</servlet-name>
    <servlet-class>java.servelet.ss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ss</servlet-name>
    <url-pattern>/ss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bee</display-name>
    <servlet-name>Bee</servlet-name>
    <servlet-class>Bee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bee</servlet-name>
    <url-pattern>/Bee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Databaseservlet</display-name>
    <servlet-name>Databaseservlet</servlet-name>
    <servlet-class>sXd.Databaseservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Databaseservlet</servlet-name>
    <url-pattern>/Databaseservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>practice</display-name>
    <servlet-name>practice</servlet-name>
    <servlet-class>sXd.practice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>practice</servlet-name>
    <url-pattern>/practice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doo</display-name>
    <servlet-name>doo</servlet-name>
    <servlet-class>sXd.doo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doo</servlet-name>
    <url-pattern>/doo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dadd</display-name>
    <servlet-name>dadd</servlet-name>
    <servlet-class>sXd.dadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dadd</servlet-name>
    <url-pattern>/dadd</url-pattern>
  </servlet-mapping>
</web-app>